# OS Family
system.os.family = {{ ansible_os_family }}
system.os.hostname = {{ ansible_hostname }}

# Python
system.python2.executable = /usr/local/bin/python2
system.python3.executable = /usr/local/bin/python3

# QT
system.qt-5.12.1.path = /usr/local/Cellar/qt-5.12.1/5.12.1
system.qt-5.11.1.path = /usr/local/Cellar/qt-5.12.1/5.11.1
